<p>
  <%= @user.full_name %>,
  <br>
  <br>
  Bienvenue chez EXAMPLE !
  <br>
  Nous vous confirmons que votre compte a bien été créé.
  <br>
  N’hésitez pas à nous solliciter si vous avez des questions.
  <br>
  <br>

  L'équipe EXAMPLE
  <br>contact@example.com
  <br>04 44 44 44 44
  <br><%= link_to 'Site web', root_url %>
</p>
