<div class="container my-5">
  <h2 class="text-left">Listde des maisons</h2>
  <%= link_to "Générer un fichier PDF", pdf_generator_houses_path(format: :pdf), target: "_blank", rel: "noopener noreferer", class: "btn btn-primary my-3" %>

  <table class="table table-hover table-responsive text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Utilisateur</th>
      </tr>
    </thead>
    <tbody>
      <% @houses.each do |house| %>
        <tr>
          <td><%= house.name %></td>
          <td><%= house.address %></td>
          <td><%= house.user_full_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
