<div class="container my-5">
  <p class="pop-title"><%= @house.name %></p>
  <p class="pop-time"><%= @house.created_at.strftime("ajouté le %d-%m-%Y") %></p>
  <p class="pop-user"><%= @house.address %></p>
</div>
