<div class="container mb-5">
  <%= render partial: "user_cards", locals: { title: "Admins", users: @admins } %>
  <%= render partial: "user_cards", locals: { title: "Customers", users: @customers } %>

  <%= render(UserCardComponent.new(title: "Admins", users: @admins)) %>
  <%= render(UserCardComponent.new(title: "Customers", users: @customers)) %>
</div>
